# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json

# IDE configurations
.idea
.vscode
!.vscode/settings.json
!.vscode/extensions.json

# Misc
_sass/dist
assets/js/dist

# Obsidian
.obsidian
.obsidian/plugins

# 日记 任务
日记/
任务/

# 文档案例
example

# 草图
Excalidraw

.obsidian/plugins/obsidian-git/data.json
