<svg width="0" height="0">
    <filter id="sliced" color-interpolation-filters="sRGB">
        <feColorMatrix values="0 0 0 0 .93 
                                0 0 0 0 .93 
                                                      0 0 0 0 .93
                                                      1 0 1 0 -1"></feColorMatrix>
        <feOffset dx="-16" dy="-2" result="topstrip"></feOffset>
        <feColorMatrix in="SourceGraphic" values="0 0 0 0 .93 
                                0 0 0 0 .93 
                                                      0 0 0 0 .93
                                                      0 1 1 0 -1"></feColorMatrix>
        <feOffset dx="16" dy="2"></feOffset>
        <feBlend in="topstrip"></feBlend>
        <feDropShadow stdDeviation="5"></feDropShadow>
        <feDropShadow stdDeviation="7" result="outstrip"></feDropShadow>
        <feColorMatrix in="SourceGraphic" values=" 0  0 0 0 .945 
                                 0  0 0 0 .965 
                                                       0  0 0 0 .4 
                                                      -1 -1 1 0 0"></feColorMatrix>
        <feBlend in="outstrip"></feBlend>
    </filter>
    <filter id="noisey">
        <feTurbulence type="fractalNoise" baseFrequency="3.17"></feTurbulence>
        <feComponentTransfer>
            <feFuncA type="table" tableValues="0 .3"></feFuncA>
        </feComponentTransfer>
        <feComposite in="SourceGraphic" operator="out"></feComposite>
    </filter>
</svg>
<div contenteditable="true">geebar</div>

<style>
    @charset "UTF-8";
    @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap");

    html,
    body {
        display: grid;
        overflow: hidden;
    }

    html {
        min-height: 100%;
        background: #121212;
    }

    html::before {
        grid-area: 1/1;
        background: #0001;
        backdrop-filter: url(#noisey);
        content: "";
    }

    body {
        grid-area: 1/1;
    }

    svg[width="0"][height="0"] {
        position: fixed;
    }

    div {
        position: relative;
        place-self: center;
        padding: 0 0.125em;
        color: #00f;
        font: italic 900 clamp(2em, 21.5vw, 25em) montserrat, sans-serif;
        overflow-wrap: anywhere;
        text-align: center;
        text-transform: uppercase;
        isolation: isolate;
        filter: url(#sliced) url(#noisey) hue-rotate(calc(var(--hov, 0)*120deg));
        transition: filter 0.3s;
    }

    div::after {
        position: absolute;
        inset: 0;
        background: linear-gradient(-4deg, #0000 calc(58.5% + -.5px), #f00 calc(58.5% + .5px)), linear-gradient(-2.5deg, #0f0 calc(31% + -.5px), #000 calc(31% + .5px));
        background-size: 100% 1lh;
        mix-blend-mode: lighten;
        pointer-events: none;
        content: "";
    }

    div:focus {
        outline: none;
    }

    div:hover,
    div:focus {
        --hov: 1;
    }
</style>