<div id="audioPlayerContainer">
    <div id="audioPlayerControl">
        <svg id="playPauseIcon" width="40" height="48" viewBox="-6 -2 32 32">
            <path id="playIcon" d="M10 7.5v15L22.5 15z" fill="#fd2d5c" />
            <path id="pauseIcon" d="M9 22.5h4.5v-15H9v15zm7.5-15v15H21v-15h-4.5z" fill="#fd2d5c"
                style="display: none;" />
        </svg>
        <div id="progressBarContainer">
            <div id="progressBar"></div>
        </div>
        <svg id="volumeIcon" width="40" height="48" viewBox="0 0 24 24">
            <path d="M13 5v14l-5-4H3V9h5z" fill="#fd2d5c" />
            <path stroke-linecap="round" d="M13 14c1.5-1 1.5-3 0-4" fill="#fd2d5c" />
        </svg>

    </div>
    <div id="volumeControlContainer" style="transform: translate(236px, -34px)">
        <input type="range" id="volumeControl" min="0" max="1" step="0.01" value="1">
    </div>

    <audio id="audioPlayer">
        <source src="../assets/music/Geebar - 那天的雪.mp3" type="audio/mp3">
    </audio>
</div>


<style>
    body {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    path {
        filter: drop-shadow(0px 1px 1px rgba(107, 107, 107, 0.5));
    }

    #audioPlayerContainer {
        width: 400px;
        height: 50px;
    }

    #audioPlayerControl{
        min-width: 300px;
        position: relative;
        background-color: #fff;
        border-radius: 30px;
        width: 300px;
        height: 50px;
        box-shadow: 0 0px 20px 0px rgba(107, 107, 107, 0.5);
        z-index: 1000;
    }
    #progressBarContainer {
        position: absolute;
        top: 45%;
        left: 15%;
        width: 70%;
        height: 5px;
        background: linear-gradient(to right, #fd2d5c var(--progress, 0%), #ddd var(--progress, 0%));
        border-radius: 5px;
        cursor: pointer;

    }

    #progressBarContainer::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 100%;
        height: 20px;
        transform: translateY(-50%);
        background-color: transparent;
    }

    #progressBar {
        position: relative;
        width: 0%;
        height: 100%;
        border-radius: 5px;
    }

    #progressBar::after {
        content: '';
        position: absolute;
        right: -7.5px;
        top: 50%;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-color: #fd2d5c;
        box-shadow: 0 1px 10px 1px rgba(107, 107, 107, 0.5);
        border-radius: 50%;
        opacity: 0;
        transition: opacity 0.3s ease;
    }

    #progressBarContainer:hover #progressBar::after {
        opacity: 1;
    }

    #volumeIcon {
        position: relative;
        left: 216px;
    }

    #volumeControlContainer {
        position: absolute;
        transition: transform 0.5s ease-in-out; /* 添加过渡效果 */
        z-index: 0;
    }

    #volumeControl {
        width: 50px;
    }

     /* 隐藏range控件默认样式 */
     [type="range"] {
      -webkit-appearance: none;
      appearance: none;
      margin: 0;
      outline: 0;
      background-color: transparent;
      width: 500px;
    }
 
    /* 定义range控件轨道的样式 */
    [type="range"]::-webkit-slider-runnable-track {
      height: 5px;
      border-radius: 5px;
      background: #ddd;
    }
 
    /* 定义range控件容器的样式 */
    [type="range" i]::-webkit-slider-container {
      height: 20px;
      overflow: hidden;
    }
 
    /* 定义range控件拇指的样式 */
    [type="range"]::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: #fd2d5c;
      margin-top: -5px;
    }

</style>

<script>
    const audioPlayer = document.getElementById('audioPlayer');
    const audioPlayerControl = document.getElementById('audioPlayerControl');
    const playPauseIcon = document.getElementById('playPauseIcon');
    const playIcon = document.getElementById('playIcon');
    const pauseIcon = document.getElementById('pauseIcon');
    const progressBarContainer = document.getElementById('progressBarContainer');
    const progressBar = document.getElementById('progressBar');
    let isDragging = false;

    playPauseIcon.addEventListener('click', togglePlay);
    audioPlayer.addEventListener('timeupdate', updateProgressBar);
    progressBarContainer.addEventListener('click', seek);
    audioPlayer.addEventListener('ended', resetPlayer);

    progressBarContainer.addEventListener('mousedown', startDrag);
    document.addEventListener('mousemove', drag);
    document.addEventListener('mouseup', endDrag);

    function togglePlay() {
        if (audioPlayer.paused) {
            audioPlayer.play();
            playIcon.style.display = 'none';
            pauseIcon.style.display = 'block';
        } else {
            audioPlayer.pause();
            playIcon.style.display = 'block';
            pauseIcon.style.display = 'none';
        }
    }

    function updateProgressBar() {
        if (!isDragging) {
            const progress = (audioPlayer.currentTime / audioPlayer.duration) * 100;
            progressBar.style.width = `${progress}%`;
            progressBarContainer.style.setProperty('--progress', `${progress}%`);
        }
    }

    function seek(event) {
        const percent = event.offsetX / progressBarContainer.offsetWidth;
        audioPlayer.currentTime = percent * audioPlayer.duration;
    }

    function resetPlayer() {
        playIcon.style.display = 'block';
        pauseIcon.style.display = 'none';
        progressBar.style.width = '0%';
        progressBarContainer.style.setProperty('--progress', '0%');
        audioPlayer.currentTime = 0;
    }

    function startDrag(event) {
        isDragging = true;
        drag(event);
    }

    function drag(event) {
        if (isDragging) {
            const containerRect = progressBarContainer.getBoundingClientRect();
            const percent = Math.min(Math.max((event.clientX - containerRect.left) / containerRect.width, 0), 1);
            progressBar.style.width = `${percent * 100}%`;
            progressBarContainer.style.setProperty('--progress', `${percent * 100}%`);
        }
    }

    function endDrag(event) {
        if (isDragging) {
            isDragging = false;
            const containerRect = progressBarContainer.getBoundingClientRect();
            const percent = Math.min(Math.max((event.clientX - containerRect.left) / containerRect.width, 0), 1);
            audioPlayer.currentTime = percent * audioPlayer.duration;
        }
    }

    const volumeIcon = document.getElementById('volumeIcon');
    const volumeControlContainer = document.getElementById('volumeControlContainer');

    volumeIcon.addEventListener('click', () => {
        if (volumeControlContainer.style.transform === 'translate(236px, -34px)') {
            volumeControlContainer.style.transform = 'translate(310px, -34px)';
        } else {
            volumeControlContainer.style.transform ='translate(236px, -34px)';
        }
    });

    const volumeControl = document.getElementById('volumeControl');
    volumeControl.addEventListener('input', () => {
        audioPlayer.volume = volumeControl.value;
        setTimeout(() => {
            volumeControlContainer.style.transform = 'translate(236px, -34px)';
        }, 2000);
    });

    document.addEventListener('click', (event) => {
        const isClickInside = volumeControlContainer.contains(event.target) || volumeIcon.contains(event.target);
        if (!isClickInside) {
            volumeControlContainer.style.transform = 'translate(236px, -34px)';
        }
    });
</script>

